@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Titillium+Web:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;

}    
:root{
    --mainColor: rgb(37, 37, 119);
    --mainColorLight : rgb(80, 80, 168);
    --secondaryColor : red;
    --textColor:white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}   
