
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

                

html body div#root div.pokemon-list div.flex{
    padding: 0px;
    margin: 0px;
    background-color: #0c1c3e;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    
}

html body div#root div.pokemon-list div.flex div.bloc-pokemon{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    /* box-shadow: 2px 2px 5px 2px rgb(168, 167, 167); */
    background-color: blue;
}
html body div#root div.pokemon-list div.flex div.bloc-pokemon:hover{
    margin-top: 5px;
    transition: 0.2s;
}
html body div#root div.pokemon-list div.flex div.bloc-pokemon div div{
    color: white;
    font-family: 'Pokemon Solid', sans-serif;   
 
                                              
}
html body div#root div.pokemon-list div.flex div.bloc-pokemon:hover{
    background-color: rgb(47, 48, 95);
    
    /* transition: 0.6s; */
}
html body div#root div.pokemon-list div.flex div.bloc-pokemon div div.num{
   color: white;
   padding-left: 10px;
   padding-bottom: 10px;

}
html body div#root div.pokemon-list div.flex div.bloc-pokemon div div.name{
    text-align: center;
}
html body div#root div.pokemon-list div.flex div.bloc-pokemon div div.type {
    text-align: right;
    padding-right: 5px;
    display: flex;
    justify-content: space-around;
}
html body div#root div.pokemon-list div.flex div.bloc-pokemon div div.type {
    text-align: right;
    padding-right: 5px;
}
html body div#root div.pokemon-list div.flex div.bloc-pokemon div div.num{
    padding-top: 20px;
    text-align: center;
}
html body div#root div.pokemon-list div.flex div.bloc-pokemon div.card div.button button.nav-btn.nav-close-btn {
    border: hidden;
    font-size: 30px;
    align-items: center;
    -webkit-transform: translate(138px,0px); /* Safari and Chrome */
}

html body div#root div.pokemon-list div.flex div.bloc-pokemon div.card div.button button.nav-btn.nav-close-btn{
    visibility: hidden;
    
 }
 html body div#root div.pokemon-list div.flex div.bloc-pokemon div.card div.button button.nav-btn.nav-close-btn a{
    background-color: blue;
    border-radius: 0px;
    width: auto;
 }
html body div#root div.pokemon-list div.flex div.bloc-pokemon div.card div.button button.nav-btn.nav-close-btn:hover{
    background-color:rgb(47, 48, 95) ;
}
html body div#root div.pokemon-list div.flex div.bloc-pokemon div.card div.button button.nav-btn.nav-close-btn a svg{
    background-color: rgb(255, 255, 255) ;
    color: #0c1c3e;
    border-radius: 30px;
    border: hidden;
    visibility: visible;
}
@media only screen and (max-width: 1024px){
    html body div#root div.pokemon-list div.flex{
        padding: 0px;
        margin: 0px;
        background-color: #0c1c3e;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-top: 12px;
        padding-left: 20px;
        padding-right: 20px;

    }

}
