@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Titillium+Web:wght@300;400;700&display=swap');
html body div#root div.pokemons-list div.fleex div.bloc-edit{
    margin-top: 10px;

}

html body div#root div.pokemons-list div.fleex div.bloc-edit div.card{
    display: flex;
    justify-content: space-around;
}

html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    background-color: orange;
    padding: 20px;
    border-radius: 30px;
    border: 5px solid black;
}
/* composant center */  
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form input{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin:10px;
}
/* composant center end */
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.img{
    border: 5px solid black ;
    background-image: url(https://w0.peakpx.com/wallpaper/121/37/HD-wallpaper-grass-view-background-anime.jpg);
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form button{
    font-family: 'Press Start 2P', cursive;

}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form textarea.desc{
    text-align: center;
    align-self: stretch;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    /* width: 1000px; */
    font-family: 'Press Start 2P', cursive;
    font-size: 11px;
    height: 100px;
    letter-spacing: -1px;
}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.button{
    display: flex;
}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.button div.croix{
    align-items: center;
    display: flex;
    justify-content: center;
}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.button div.croix img{
    width: 30%;
    align-items: center;
}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.button div.rond{
    transform: rotate(40deg);
}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.button div.rond div.rond1 img{
    width: 40%;
    padding: 20px;

}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.return{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Press Start 2P', cursive;

}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.return a div{
    padding: 2px;
    border: 1px solid black;
    font-size: 11px;
    padding: 3px;
    text-decoration: none;
    background-color: green;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color: black;
    width: inherit;
    font-family: 'Press Start 2P', cursive;

}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.return div.exit{
    background-color: green;
    border: 1px solid black;
    border-left: none;
    font-family: 'Press Start 2P', cursive;

    /* margin-left: 2px; */
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
} 
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.img{
    height: 200px;
    
}
html body div#root div.pokemons-list div.fleex div.bloc-edit div.card form div.img img{
    height: 180px;
    
}
@media only screen and (max-width: 1640px){
}
@media only screen and (max-width: 1110px){
}
@media only screen and (max-width: 1024px){
}
@media only screen and (max-width: 850px){
}
@media only screen and (max-width: 650px){
}

